body{
    margin: 0;
    background-color: #E0A96D;
    font-family: Arial, sans-serif;
}

.page-container{
    width: 95%;
    margin: 30px auto;
}

h1{
    text-align: center;
    color: #2c3e50;
}

.subtitle{
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.table-wrapper{
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    overflow-x: auto;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 12px;
    text-align: center;
    border: 1px solid #444;
}

th{
    background-color: rgb(250, 221, 183);
    font-weight: bold;
}

td{
    background-color: antiquewhite;
    font-size: 14px;
}

tr:hover td{
    background-color: #f3d5aa;
    transition: 0.3s;
}

/* Rating badges */
.rating{
    padding: 6px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
.rating.good{
    background-color: #27ae60;
}
.rating.avg{
    background-color: #f39c12;
}
.rating.low{
    background-color: #ff0804;
}

footer{
    text-align: center;
    margin: 30px 0;
    color: #333;
    font-size: 14px;
}
