body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d7e6fe;
}

/* HEADER */
header{
    background-color: #4f8f9d;
    padding: 20px 0;
    text-align: center;
}
header h1{
    color: white;
    font-size: 38px;
    margin: 0;
}
.tagline{
    color: #eaf6f8;
    margin-top: 8px;
}

/* NAVBAR */
nav{
    background-color: #1b0d0d;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 12px 0;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
nav a:hover{
    text-decoration: underline;
}

/* HERO */
.hero{
    text-align: center;
    padding: 60px 20px;
    background-color: white;
}
.hero h2{
    color: #2c3e50;
}
.hero p{
    max-width: 600px;
    margin: 15px auto;
    color: #555;
}
.hero-buttons a{
    display: inline-block;
    margin: 10px;
    padding: 12px 22px;
    background-color: #2c3e50;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}
.hero-buttons a:hover{
    background-color: #1a252f;
}

/* FEATURES */
.features{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px 20px;
    flex-wrap: wrap;
}
.feature-card{
    background-color: white;
    width: 260px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}
.feature-card h3{
    margin-bottom: 10px;
}

/* FOUNDER */
.founder{
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}
.founder img{
    width: 180px;
    border-radius: 50%;
    margin: 15px 0;
}
.social-links a{
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #2c2828;
    padding: 12px;
    flex-wrap: wrap;
}
footer a, footer span{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
