body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;  
    background-color: rgb(166, 224, 245);
    border: 2px solid #E0A96D;
    border-radius: 10px;

}
.page{
    display: flex;
    border: 2px solid #E0A96D;
    gap: 20px;
    padding: 30px;
    background: #ace7ee;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.imgg{
    
    height: 350px;
    margin-left: 20px;
    border-radius: 20px;
}
.line{
    width: 2px;
    height: 350px;
    background-color: black;
    
    margin-left: 30px;
}
.inf{
    
    margin-left: 30px;
}
.inf h1, .inf h3, .inf h4{
    
    margin: 8px ,0;
}
.lable{
    font-size: larger;
}
.value{
    font-size:medium;
}
.lable1{
    font-size:small;
}
.subject{
    
    margin-left: 30px;
}
.name{
    font:italic;
}
